<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    	  <p>
            I have over 30 years experience working with computer systems. Mostly microcomputer (personal computer)
             workstations and servers. Also am experienced in networking systems, databases, and application development.
          </p>
          <p>
           I am a problem solver. Business and technical. Combining those two worlds, I am able to solve many issues and
           automate business processes. Communicating at all levels for both venues is my forte.
          </p>
		  <p>
		    I also like to write. I have a few blogs out there. Plus I have written for periodicals.
		  </p>
		  <p>
		    Having a technical background has helped in writing technical manuals. User manuals for software projects are an especially interesting activity. Hit me up if you can use a hand along these lines.
		  </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    		  <li>
                Migrated a service business from a paper filing system to a networked database service center tracking, billing, and accounting system.
    		  </li>
              <li>
                Created a medical office management system and installed a network in a medical office for the management system to operate from.
			  </li>
              <li>
                Created a potherd management system for a local dairy. And later added modules to track dryherds, mastitis herds, and production herd output monitoring.
			  </li>
    		  <li>
                Designed and installed a three office (cities) network system for sharing an orthodontist management database and reports.
    		  </li>
    		  <li>
                Maintained, upgraded, and provided weekly service on servers and workstations for four electric power plants.
    		  </li>
    	      <li>
                Created technical education videos for an online home-schooling company.
    		  </li>
    		  <li>
                Created user manuals for 10 applications for a utility software company.
    		  </li>
    	      <li>
                Created .Net and mobile applications for utility company.
    		  </li>
    		  <li>
                Created service business application in Python to be cloud hosted.
    		  </li>
    		  <li>
                Owned and operated a computer hardware and software consulting service for 20+ years.
    		  </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
