<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
			      <b>Writing</b> mostly blog articles about topics of interest to myself.
			  </li>
			  <li>
				 <b>Python</b> and moving beyond an intermediate level of expertise.
			  </li>
			  <li>
				  <b>Single Board Computers</b> and their use to build special purpose devices. Building on my background in electronics and including programming
				   skills in the mix.
			  </li>
			  <li>
				  <b>Gardening</b> to landscape the yard, build out some butterfly habitats, and provide some edibles for our table.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          		Created an online presence on GitHub as a gateway to this Bio, a portfolio (in process), and my GitHub work.
    		</li>
  			<li>
			    A book review blog covering books and authors I like. Monetized it with Amazon Affiliate links.
    		</li>
  			<li>
				 A blog on programming for beginners and experienced coders if they are into any of the same systems I use and will be writing about.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
				Working on a 365 day challenge to do an online tutorial each day. Counting success if achieve at least 5 tutorials every 7 days.
  			</li>
  			<li>
				Working on an additioanl 365 day challenge to create a digital graphic of any type. Feel a need to learn more about graphic design as that is the one skill sorely lacking in my claim to be a full stack web developer.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
